.result-list {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.list__item--dot {
  position: relative;
  padding-left: 1.5rem;
  color: #000;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 0;
    top: 50%;

    transform: translateY(-50%);

    background-color: currentColor;
  }
}

.list__name {
  margin-top: 0;
  margin-bottom: 0;
}
